.container {
  display: grid;
  align-items: center;
  justify-items: center;
}

.first-view {
  display: grid;
  justify-items: center;
  height: 100vh;
  margin-top: 2em;
  margin-bottom: 2em;
  grid-template-rows: 45% 15% auto;
}

.second-view {
  background: #002648;
  padding: 4em;
  height: calc(100vh - 8em);
}

.logo {
  width: 400px;
  height: 400px;
}

.subtext {
  font-size: 36pt;
  text-align: center;
}

.card-area {
  display: grid;
  gap: 4em;
  grid-template-columns: 20% 20% 20%;
  justify-content: center;
}

.owner-area {
  display: grid;
  text-align: center;
  height: 25em;
  align-items: center;
}

.owner-content {
  color: white;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 200px;
    height: 2 00px;
  }

  .subtext {
    font-size: 26pt;
    text-align: center;
  }

  .second-view {
    height: 100%;
    padding: 6em 2em;
  }

  .card-area {
    grid-template-columns: auto;
  }
  
}
