.container {
  display: grid;
  align-items: center;
  justify-items: center;
}

.first-view {
  display: grid;
  align-items: center;
  justify-items: center;
  height: calc(100vh - 8em);
  margin-bottom: 4em;
}

.subtext {
  font-size: 36pt;
}
