.container {
  position: fixed;
  bottom: 0em;
  left: 0em;
  display: grid;
  justify-items: center;
  width: calc(100% - 2em);
  padding: 1em;
  backdrop-filter: blur(10px);
}

.footer-container {
  width: calc(100% - 4em);
  padding: 0.5em 1em;
  background: #002649;
  gap: 1em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-radius: 0.5em;
}

.url-container {
  color: #2ac2ff;
  display: grid;
  align-items: center;
  text-align: center;
}

.cdn-text {
  color: #2ac2ff;
  font-size: 12pt;
  font-weight: 600;
}

.copy-button {
  color: #2ac2ff;
  background: #002649;
  padding: 0.5em 0.9em;
  border-radius: 0.25em;
  font-size: 12pt;
  font-weight: 600;
  border: 1px solid #2ac2ff;
}

.copy-button:hover {
  color: white;
}
