.container {
  position: fixed;
  bottom: 0em;
  left: 0em;
  display: grid;
  justify-items: center;
  width: calc(100% - 2em);
  padding: 1em;
  background: #ffffff3b;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.footer-container {
  width: calc(100% - 7em);
  padding: 0.5em;
  padding-bottom: 0.75em;
  background: #002649;
  gap: 1em;
  display: grid;
  grid-template-columns: 5em 1fr 5em;
  align-items: center;
  border-radius: 0.5em;
}

.url-container {
  color: #2ac2ff;
  display: grid;
  align-items: center;
  text-align: center;
}

.copy-button,
.cdn-button {
  color: #2ac2ff;
  background: #002649;
  padding: 0.5em 0.9em;
  border-radius: 0.25em;
  font-size: 11pt;
  font-weight: 600;
  border: 1px solid #2ac2ff;
  text-align: center;
}

.copy-button:hover {
  color: white;
}

.cdn-button:hover {
  color: white;
}

@media only screen and (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .cdn-button,
  .copy-button {
    display: none;
  }
}
